/* body{
    background-color: #282929;
    font-family: 'Caveat', cursive;
    color: #ebebeb;
    padding: 0;
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-left: 7px;
    align-items: center;
    gap: 5%;
}

.logo{
    font-size: 35px;
    max-width: 170px;
    font-family: 'Mrs Saint Delafield', cursive;
    padding-left: 5%;
}

.link-container{
    margin-left: 50%;
}

.header-link{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}


.header-link:hover{
    color: #818517;
   
}

.hero-img {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 800px;
}

.hero-container{
    background-image: url(./img/img1.jpg);
    width: 100%;
    max-width: 1920px;
    height: 850px;
    background-size: cover;
    background-position: bottom;
}

.about{
    display: flex;
    max-width: 70%;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 5%;
    gap: 10%;
    align-items: center;
}

.about-img{
    max-height: 4%;
    max-width: 300px;
    height: 50%;
    width: 50%;
}

.about-text{
    font-size: 35px;
   font-family: 'Caveat', cursive;
   
}

.services-img{
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin-left: 12.5%;

}

.services-img img{
    height: 600px;
    width: 400px;
}

.services-name{
    display: flex;
    max-width: 75%;
    margin-left: 12.5%;
    justify-content: space-between;
    text-align: center;
}

.services-name h2{
    width: 400px;
}

h1{
    font-size: 65px;
    text-align: center;
    margin-top: 4% ;
}

.testimonials{
    display: flex;
    gap: 5%;
    max-width: 90%;
    margin-left: 5%;
}

.test-1{
    font-size: 30px;
}

.test-2{
    font-size: 30px;
}

.footer{
    padding-top: 5%;
    text-align: center;
}

*/
body{
    background-color: rgb(250, 250, 250);
    font-family: 'Caveat', cursive;
    color: black;
    padding: 0;
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-left: 7px;
    align-items: center;
    gap: 5%;
}

.logo{
    font-size: 35px;
    max-width: 170px;
    font-family: 'Mrs Saint Delafield', cursive;
    padding-left: 5%;
}

.tag{
margin-left: 20%;
font-size: 25px;
}

.link-container{
    margin-left: 10%;
}

.header-link{
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}


.header-link:hover{
    color: #818517;
   
}

.hero-img {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 800px;
}

.hero-container{
    background-image: url(./img/img1.jpg);
    width: 100%;
    
    height: 850px;
    background-size: cover;
    background-position: top;
}

.about-background{
    background-color: black;
}

.about-container{
    background-color: black;
    margin: 0;
    max-width: 70%;
    display: flex;
    padding-left: 15%;
    
}
.about{
    
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 0;
    gap: 10%;
    align-items: center;
    background-color: black;
}

.about-heading{
    color: white;
    font-size: 65px;
    text-align: center;
    padding-top: 4%;
}
.about-img{
    max-width: 400px;
    height: 50%;
    width: 50%;
    padding: 3% 0%;
}

.about-text{
    font-size: 35px;
   font-family: 'Caveat', cursive;
   color: white;
   padding: 0;
   
}

.services-img{
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin-left: 12.5%;

}

.services-img img{
    height: 600px;
    width: 400px;
}

.services-name{
    display: flex;
    max-width: 75%;
    margin-left: 12.5%;
    justify-content: space-between;
    text-align: center;
}

.services-name h2{
    width: 400px;
}

.services h1{
    font-size: 65px;
    text-align: center;
}

.testimonials{
    display: flex;
    gap: 5%;
    max-width: 90%;
    margin-left: 5%;
}

.testimonials-heading{
    font-size: 65px;
    text-align: center;
    padding-top: 4%;
}

.test-1{
    font-size: 30px;
}

.test-2{
    font-size: 30px;
}

.footer{
    padding-top: 5%;
    text-align: center;
}